<h1>朝の入力</h1>
<%= form_tag("/health/morning_create", method: :post) do %>
  <%= hidden_field_tag :date, Date.today %>
  <input type="radio" name="self_exp" value="0">☓
  <input type="radio" name="self_exp" value="50">△
  <input type="radio" name="self_exp" value="100">◯
  <input type="submit" value="OK！">
<% end %>
