<h1>夜の入力</h1>
<%= form_tag("/health/night_create", method: :post) do |f| %>
  <input type="radio" name="result" value="0">☓
  <input type="radio" name="result" value="50">△
  <input type="radio" name="result" value="100">◯
  <input type="submit" value="OK！">
<% end %>
